In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
heptathlon = pd.read_csv("Sample Data/heptathlon.csv")
heptathlon.head()

,name,hurdles,highjump,shot,run200m,longjump,javelin,run800m,score
0,Joyner-Kersee (USA),12.69,1.86,15.80,22.56,7.27,45.66,128.51,7291
1,John (GDR),12.85,1.80,16.23,23.65,6.71,42.56,126.12,6897
2,Behmer (GDR),13.20,1.83,14.20,23.10,6.68,44.54,124.20,6858
3,Sablovskaite (URS),13.61,1.80,15.23,23.92,6.25,42.78,132.24,6540
4,Choubenkova (URS),13.51,1.74,14.76,23.93,6.32,47.46,127.90,6540

In [6]:
round(heptathlon.describe(), 2)

       hurdles  highjump   shot  run200m  longjump  javelin  run800m    score
count    25.00     25.00  25.00    25.00     25.00    25.00    25.00    25.00
mean     13.84      1.78  13.12    24.65      6.15    41.48   136.05  6090.60
std       0.74      0.08   1.49     0.97      0.47     3.55     8.29   568.47
min      12.69      1.50  10.00    22.56      4.88    35.68   124.20  4566.00
25%      13.47      1.77  12.32    23.92      6.05    39.06   132.24  5746.00
50%      13.75      1.80  12.88    24.83      6.25    40.28   134.74  6137.00
75%      14.07      1.83  14.20    25.23      6.37    44.54   138.48  6351.00
max      16.42      1.86  16.23    26.61      7.27    47.50   163.43  7291.00

In [7]:
heptathlon.hurdles = np.max(heptathlon.hurdles) - heptathlon.hurdles
heptathlon.run200m = np.max(heptathlon.run200m) - heptathlon.run200m
heptathlon.run800m = np.max(heptathlon.run800m) - heptathlon.run800m

In [24]:
feature = ['hurdles', 'highjump', 'shot', 'run200m', 'longjump', 'javelin', 'run800m']
hep_data = heptathlon[feature]
# also available : hep_data = heptathlon.iloc[:, 1:8] or hep_data = heptathlon.iloc[:, 1:-1]
hep_data.head()

   hurdles  highjump   shot  run200m  longjump  javelin  run800m
0     3.73      1.86  15.80     4.05      7.27    45.66    34.92
1     3.57      1.80  16.23     2.96      6.71    42.56    37.31
2     3.22      1.83  14.20     3.51      6.68    44.54    39.23
3     2.81      1.80  15.23     2.69      6.25    42.78    31.19
4     2.91      1.74  14.76     2.68      6.32    47.46    35.53

In [25]:
# 변수 표준화
from sklearn.preprocessing import StandardScaler
x = StandardScaler().fit_transform(hep_data)

In [21]:
from sklearn.decomposition import PCA
# 전체를 가지고 먼저 주성분 분석을 진행
pca_init = PCA(n_components = len(hep_data.columns))
pca_init.fit(x)
print(pca_init.explained_variance_)

print(np.sum(pca_init.explained_variance_))
# 결과 값이 7보다 큰 것으로보아, 함수의 rounding이 다소 불안정적인 것으로 보임

[4.64611996 1.24408391 0.54272305 0.47621544 0.25548619 0.0759954
 0.05104272]
7.291666666666666

In [35]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)
hep_pca = pca.fit_transform(x)

print(pca.explained_variance_)
print(pca.explained_variance_ratio_)
# 주성분 계수
print(np.round(pca.components_, 3))

[4.64611996 1.24408391]
[0.63718217 0.17061722]
[[-0.453 -0.377 -0.363 -0.408 -0.456 -0.075 -0.375]
 [-0.158 -0.248  0.289  0.26  -0.056  0.842 -0.224]]